# Export all the names
export(
	"run_qc",
        "theme_Publication",
        "makePcaPlot",
        "impute_missing_values",
        "plot_hist",
	"plot_mean_median",
        "sample_sample_coor",
        "check_dist_zscore_coor"
)

import("AnnotationDbi")
import("hgu133plus2.db")
import("affyPLM")
import("RColorBrewer")
import("affy")
import("impute")
import("lattice")
import("matrixStats")
import("grid")
import("ggthemes")
import("ggplot2")
import("reshape")
import("scales")
